# Nix build artifacts
/result*
/build
/dist

# Secrets (HANYA jika tidak terenkripsi)
# Jika Anda pindah ke age-nix, Anda akan MENGHAPUS baris ini
# dan menggantinya dengan *.txt (file aslinya)
/secrets/

# Editor/OS cruft
.DS_Store
*.swp
*.swo
.vscode/
